:root{
    --bg-color: #020518;
    --primary-color: #0070ef;
    --secondary-color: #fa5921;

    --primary-font: 'Bakbak One', cursive;
    --secondary-font: 'Prompt', sans-serif;
}

body{
    font-family: var(--primary-font);
    background-color: var(--bg-color);
    color: #fff;
}
img {
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
}
a,
button {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
a:hover,
button:hover {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a:focus {
    text-decoration: none;
}
.app_header{
    position: absolute;
    width: 100%;
    padding: 20px 0;
}
.header_flex{
    display: flex;
    align-items: center;
}
.brand{
    max-width: 260px;
    margin-right: 15px;
}
.header_spacer{
    flex: 1;
}
.brand img{
    width: 100%;
}
.outline_btn{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    height: 50px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.outline_btn svg{
    margin-right: 10px;
}
.outline_btn:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
}
.app_banner{
    background-image: url('../../img/banner_bg.jpg');
    min-height: 720px;
    width: 100%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 120px;
}
.banner_content_left h1{
    text-transform: uppercase;
    font-size: 3.2rem;
    margin-bottom: 1.8rem;
    line-height: 1;
}
.banner_content_left h2{
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}
.banner_content_left ul{
    margin: 2rem 0 2rem;
}
.banner_content_left li{
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    margin-bottom: 2px;
}
.banner_content_left li.highlighted{
    color: var(--secondary-color);
}
.banner_content{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.banner_content .banner_content_left,
.banner_content .banner_content_right{
    width: 50%;
}

.primary_btn{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    height: 55px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    align-items: center;
}
.banner_content_right{
    position: relative;
}
.glass_pic{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 2rem 0 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.glass_pic img{
    max-width: 80%;
}
.container {
    max-width: 1120px;
}
.banner_content_left {
    padding-top: 3rem;
}
.app_count_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.count_box{
    padding: 40px 20px;
    background-color: rgba(255,255,255,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.count_box h1 {
    margin-bottom: 0;
}
.count_box p{
    margin-bottom: 5px;
}
.app_count{
    padding: 2rem 0;
}
.bottom_slide{
    background-color: rgba(255,255,255,0.05);
    padding: 2rem;
}
.app_footer{
    padding: 3rem 0;
}
.app_footer p{
    font-weight: 400;
    margin: 0px;
    color: #aeb1c4;
    font-family: var(--secondary-font)
}
.modal_dark .modal-content{
    background-color: #171a29;
    padding: 30px 30px 35px;
}
.modal_header{
    text-align: center;
    padding: 12px 0;
}
.modal_header h2{
    font-size: 16px;
    text-transform: uppercase;
}
.data_pic{
    background-image: url('../../img/banner_glass.png');
    max-width: 160px;
    margin: 0px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data_pic img{
    max-width: 130px;
}
.modal_dark .modal-dialog {
    max-width: 400px;
}
.modal_dark .btn_close{
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    padding: 6px 8px;
}
.modal_dark .btn_close svg{
    fill: #fff;
    width: 22px;
    height: 22px;
}   
.mint_count {
    margin-bottom: 30px;
}
.mint_count ul li{
    display: flex;
    justify-content: space-between;
    font-family: var(--secondary-font);
    min-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    align-items: center;
} 
.mint_count ul li h4{
    font-size: 14px;
    margin: 0px;
}
.custom_group .quantity{
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
          appearance: none;
          width: 60px;
          height: 50px !important;
          text-align: center;
          color: #fff;
          background-color: transparent;
          border: none;
          height: 100%;
          border-left: 1px solid rgba(255, 255, 255, 0.2);
          border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.custom_group{
    display: flex;
    width: 160px;
}
.btn_minus,
.btn_plus{
    background-color: transparent;
    border: none;
    height: 100%;
    width: 50px;
    height: 50px;
}
.btn_minus svg,
.btn_plus svg{
    fill: #fff;
}
.modal_dark .primary_btn{
    width: 100%;
    justify-content: center;
    text-align: center;
}
.modal-backdrop.show {
    opacity: 0.7;
}

@media screen and (max-width: 767px){
    .banner_content{
        flex-direction: column;
        gap: 0;
    }
    .banner_content .banner_content_left, .banner_content .banner_content_right {
        width: 100%;
    }
    .app_count_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 575px){
    .modal_dark .modal-dialog {
        max-width: none;
    }
    .outline_btn {
        font-size: 14px;
        height: 40px;
        padding: 0 15px;
    }
    .app_banner{
        padding-top: 85px;
    }
    .banner_content_left h1 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    .banner_content_left h2 {
        font-size: 1.5rem;
        margin-bottom: 1.4rem;
    }
    .primary_btn {
        font-size: 14px;
        height: 50px;
    }
    .banner_content_left li {
        font-size: 0.8rem;
    }
    .count_box p {
        font-size: 13px;
    }
    .count_box h1 {
        font-size: 24px;
    }
    .count_box {
        padding: 25px 10px;
    }
    .bottom_slide {
        padding: 15px;
    }
    .app_footer {
        padding: 2rem 0;
    }
    .app_footer p {
        font-size: 13px;
    }
    .banner_content_left {
        padding-top: 2rem;
    }
}